* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M18.97 -73.53L83.92 -36.03L83.92 38.97L18.97 76.47L-45.98 38.97L-45.98 -36.03zM18.97 376.47L83.92 413.97L83.92 488.97L18.97 526.47L-45.98 488.97L-45.98 413.97zM148.88 376.47L213.83 413.97L213.83 488.97L148.88 526.47L83.92 488.97L83.92 413.97zM213.83 488.97L278.78 526.47L278.78 601.47L213.83 638.97L148.88 601.47L148.88 526.47zM473.65 38.97L538.6 76.47L538.6 151.47L473.65 188.97L408.69 151.47L408.69 76.47zM408.69 151.47L473.65 188.97L473.65 263.97L408.69 301.47L343.74 263.97L343.74 188.97zM668.51 -73.53L733.46 -36.03L733.46 38.97L668.51 76.47L603.55 38.97L603.55 -36.03zM733.46 38.97L798.42 76.47L798.42 151.47L733.46 188.97L668.51 151.47L668.51 76.47zM668.51 151.47L733.46 188.97L733.46 263.97L668.51 301.47L603.55 263.97L603.55 188.97zM733.46 263.97L798.42 301.47L798.42 376.47L733.46 413.97L668.51 376.47L668.51 301.47zM668.51 376.47L733.46 413.97L733.46 488.97L668.51 526.47L603.55 488.97L603.55 413.97zM798.41 376.47L863.37 413.97L863.37 488.97L798.41 526.47L733.46 488.97L733.46 413.97zM1058.23 -73.53L1123.18 -36.03L1123.18 38.97L1058.23 76.47L993.28 38.97L993.28 -36.03zM1188.14 -73.53L1253.09 -36.03L1253.09 38.97L1188.14 76.47L1123.18 38.97L1123.18 -36.03zM1253.09 38.97L1318.04 76.47L1318.04 151.47L1253.09 188.97L1188.14 151.47L1188.14 76.47zM1383 38.97L1447.95 76.47L1447.95 151.47L1383 188.97L1318.05 151.47L1318.05 76.47zM1318.05 151.47L1383 188.97L1383 263.97L1318.05 301.47L1253.09 263.97L1253.09 188.97zM1512.91 38.97L1577.86 76.47L1577.86 151.47L1512.91 188.97L1447.95 151.47L1447.95 76.47zM1447.95 151.47L1512.91 188.97L1512.91 263.97L1447.95 301.47L1383 263.97L1383 188.97z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M11.47 -73.53 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM76.42 -36.03 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM76.42 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM11.47 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-53.48 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-53.48 -36.03 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM11.47 376.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM76.42 413.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM76.42 488.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM11.47 526.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-53.48 488.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-53.48 413.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM141.38 376.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM206.33 413.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM206.33 488.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM141.38 526.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM271.28 526.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM271.28 601.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM206.33 638.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM141.38 601.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM466.15 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM531.1 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM531.1 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM466.15 188.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM401.19 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM401.19 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM466.15 263.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM401.19 301.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM336.24 263.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM336.24 188.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM661.01 -73.53 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.96 -36.03 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.96 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM661.01 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM596.05 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM596.05 -36.03 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.92 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.92 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.96 188.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM661.01 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.96 263.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM661.01 301.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM596.05 263.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM596.05 188.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.92 301.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.92 376.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.96 413.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM661.01 376.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.96 488.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM661.01 526.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM596.05 488.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM596.05 413.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.91 376.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM855.87 413.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM855.87 488.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.91 526.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1050.73 -73.53 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1115.68 -36.03 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1115.68 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1050.73 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM985.78 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM985.78 -36.03 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1180.64 -73.53 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1245.59 -36.03 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1245.59 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1180.64 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1310.54 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1310.54 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1245.59 188.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1180.64 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1375.5 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1440.45 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1440.45 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1375.5 188.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1310.55 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1310.55 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1375.5 263.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1310.55 301.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1245.59 263.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1505.41 38.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1570.36 76.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1570.36 151.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1505.41 188.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1505.41 263.97 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1440.45 301.47 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M59.37 342.43L102.68 367.43L102.68 417.43L59.37 442.43L16.07 417.43L16.07 367.43zM145.98 492.43L189.28 517.43L189.28 567.43L145.98 592.43L102.68 567.43L102.68 517.43zM189.28 267.43L232.58 292.43L232.58 342.43L189.28 367.43L145.98 342.43L145.98 292.43zM319.19 42.43L362.49 67.43L362.49 117.43L319.19 142.43L275.88 117.43L275.88 67.43zM405.79 42.43L449.1 67.43L449.1 117.43L405.79 142.43L362.49 117.43L362.49 67.43zM405.79 192.43L449.1 217.43L449.1 267.43L405.79 292.43L362.49 267.43L362.49 217.43zM405.79 342.43L449.1 367.43L449.1 417.43L405.79 442.43L362.49 417.43L362.49 367.43zM449.1 117.43L492.4 142.43L492.4 192.43L449.1 217.43L405.79 192.43L405.79 142.43zM622.31 117.43L665.61 142.43L665.61 192.43L622.31 217.43L579 192.43L579 142.43zM752.21 492.43L795.52 517.43L795.52 567.43L752.21 592.43L708.91 567.43L708.91 517.43zM795.52 -32.57L838.82 -7.57L838.82 42.43L795.52 67.43L752.21 42.43L752.21 -7.57zM838.82 492.43L882.12 517.43L882.12 567.43L838.82 592.43L795.52 567.43L795.52 517.43zM925.42 42.43L968.73 67.43L968.73 117.43L925.42 142.43L882.12 117.43L882.12 67.43zM925.42 492.43L968.73 517.43L968.73 567.43L925.42 592.43L882.12 567.43L882.12 517.43zM1228.54 267.43L1271.84 292.43L1271.84 342.43L1228.54 367.43L1185.24 342.43L1185.24 292.43zM1401.75 267.43L1445.05 292.43L1445.05 342.43L1401.75 367.43L1358.45 342.43L1358.45 292.43z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  background-repeat: repeat;

  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.2fr 13fr 0.1fr;
  gap: 25px 0px;

  grid-auto-flow: row;
  grid-template-areas:
    "nav nav nav"
    "aside aside aside"
    "aside aside aside"
    "aside aside aside"
    "footer footer footer";
}

.nav {
  grid-area: nav;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

/*------NAV----------*/
#menu {
  background: #223bda52;
  color: rgb(255, 255, 255);
  height: 50px;
  padding-left: 18px;
  border-radius: 0px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
}
#menu li {
  float: left;
  display: inline;
  position: relative;
}
#menu a {
  display: block;
  line-height: 42px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
#menu li a:hover {
  color: #001117;
  background: #f2f2f2;
  border-radius: 8px;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 42px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #444444;
}
#user {
}
@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu ul {
    background: #111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: white;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}

/*------aside----------*/
.aside {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.imglogo {
  border-radius: 28px;
  border: 2px solid white;
  width: 415px;
}
#svg {
  position: fixed;
  opacity: 0.8;
  right: 70px;
  top: 80px;
}
h1 {
  font-size: 25px;
  color: rgba(241, 235, 235, 0.925);
  margin-bottom: 20px;
}
#tiger {
  font-size: 46px;
  color: rgba(241, 235, 235, 0.925);
  margin-bottom: 20px;
}
.grupo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  padding: 0 40px 0 40px;
}
.cardx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}
.shop {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn-buy {
  padding: 5px;
  width: 30%;
  line-height: bold;
  font-size: 16px;
  background-color: #0d2863;
  color: white;
  border-radius: 8px;
  border: 1px solid rgb(7, 199, 119);
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
}
.letraszoom {
  width: 160px;
}
.logozoom {
  width: 45px;
  margin-left: 8px;
}
.lista {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.horarios {
  color: rgb(232, 233, 235);
}
.instructivo {
  border-radius: 15px;
  margin-top: 80px;
  width: 50%;
}
#textfinal {
  font-size: 35px;
  margin-bottom: 25px;
  /* text-shadow: 0px 0px #ff0000, -2px 0px #00ffff; */
}
#textp {
  font-size: 20px;
  margin-bottom: 25px;
  color: white;
  /* text-shadow: 0px 0px #ff0000, -2px 0px #00ffff; */
}
/*****Btn**********/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px; /* Some padding */
  border-radius: 25px; /* Rounded corners */
  font-size: 35px; /* Increase font size */
  opacity: 40%;

  height: 35px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/*Videos*/
.videos {
  display: flex;
  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
  align-items: center;
}
iframe {
  border-radius: 15px;
  margin-bottom: 50px;
}

#iframeacordion {
  width: 100%;
  border-radius: 15px;
}
/*********Card********/
.imgcard {
  width: 280px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.textcard {
  padding: 20px;
  color: white;
  line-height: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.426);
  width: 20%;
  text-align: center;
  border-radius: 20px;
  line-height: 22px;
  border: 1px solid white;
}
.textcardshop {
  padding: 20px;
  color: white;
  line-height: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.426);
  width: 25%;
  text-align: center;
  border-radius: 20px;
  line-height: 22px;
}
.textcardvideos {
  padding: 20px;
  color: white;
  line-height: 20px;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.426);
  width: 40%;
  text-align: center;
  border-radius: 20px;
  line-height: 22px;
  border: solid 1px rgba(255, 255, 255, 0.548);
  margin-bottom: 15px;
}

#textfinal {
  margin-bottom: 30px;
}
.parrafocard {
  text-align: center;
}
.card {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.imgpiezas {
  border-radius: 15px;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
/*------Footer---------*/
.footer {
  background: #223bda52;
  color: white;
  height: 80px;
  text-align: center;

  width: 100%;
  font-size: 16px;
  font-family: "Nunito", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}
#website {
  color: rgb(31, 196, 187);
  margin-left: 8px;
}
.social-links {
  margin-left: 80px;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
@media screen and (max-width: 1130px) {
  #svg {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .textcard {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .grupo {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 28px;
    align-items: center;
  }
  .cardx {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 28px;
    align-items: center;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 12fr 0.1fr;
    gap: 20px 0px;

    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav"
      "aside aside aside"
      "aside aside aside"
      "aside aside aside"
      "footer footer footer";
  }
  body {
    height: 100%;
  }
  h1 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 5px;
  }
  iframe {
    width: 330px;
    height: 220px;
    border-radius: 15px;
  }
  #iframeacordion {
    width: 100%;

    border-radius: 15px;
    position: relative;
    top: 30px;
  }

  .instructivo {
    margin-top: 50px;
    width: 85%;
  }
  .textcard {
    width: 65%;
  }
  .textcardvideos {
    width: 95%;
    margin-bottom: 15px;
  }

  h1 {
  }

  .imglogo {
    width: 290px;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 0 12px;

    justify-content: center;
    display: none;
  }

  #website {
    margin-left: 18px;
  }
}

.cap {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5px;
}
.imgprof {
  border-radius: 50%;
}
.imgshop {
  border-radius: 5%;
  border: solid 2px white;
  width: 100%;
}

/********************************Slider*****/

.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  margin: auto;
  height: 250px;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 60%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 1%;
}
.slide-control.next {
  right: 1%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador li:nth-child(4) .slide-circulo,
#slide-5:checked
  ~ .control-5
  ~ .slide-indicador
  li:nth-child(5)
  .slide-circulo {
  color: #428bca;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

/*******SOCIAL*******/

.main__social {
  display: grid;
  grid-auto-flow: column;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  grid-auto-columns: max-content;
  gap: 2em;
  margin-top: 30px;
}

.main__link {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.6em 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.main__link:hover {
  background-color: rgba(255, 255, 255, 0.71);
  color: black;
}

.main__icon {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 600px) {
  .main__social {
    display: grid;
    grid-auto-flow: row;
  }
  .frame {
    width: 100%;
  }
  #iframecard {
    width: 100%;
    margin: 3px;
  }
  .footer {
    font-size: 18px;
    height: 50px;
  }
}

/********Contaco*****/

.contact__input {
  width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
}
#mms {
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
}

.sub {
  display: inline-block;

  color: #fff;
  background-color: rgb(62, 62, 216);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  position: relative;
  left: 100px;
  margin-top: 2px;
}
.contact__container {
  position: relative;
  left: 8px;
}
/*********************/
#googleplay {
  margin-left: 10px;
  margin-top: 4px;
  width: 110px;
  border: 2px solid #fff;
  border-radius: 5px;
}
#titleapk {
  text-decoration: underline;
}
#aplicaciones {
  background-color: rgba(15, 172, 164, 0.521);
  padding: 10px;
  border-radius: 8px;
}
/*********btn more**********/
/* From uiverse.io */
#btn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12em;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 2.2rem;
  background: #282936;
  border-radius: 1.625rem;

  top: 5px;
  border: 2px solid rgb(224, 19, 19);
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  /*   text-transform: uppercase; */
}

button:hover .circle {
  width: 100%;

  border: 2px solid rgb(9, 182, 144);
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

/*********btn bienve**********/
/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.bienve {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

/* bienve styling */
.bienve {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8ad0;
  --fs-size: 1em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on bienve */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.bienve:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/**********Acordion***************/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgb(2, 2, 2);
  color: rgb(252, 249, 249);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 14px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: rgb(16, 47, 133);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgb(8, 8, 8);
  color: white;
  display: none;
  overflow: hidden;
  text-align: left;
}
.linkclas {
  color: rgba(0, 255, 255, 0.767);
}
/********************/
#iframecard {
  border-radius: 10px;
  border: 1px solid white;

  position: relative;
  top: 0px;
  margin: 0;
}
